<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">University Management</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/university">University</a> </li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Roles</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Users</a></li>
      </ul>
    </div>
  </div>
</nav>
