<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-content>
        <app-role-edit></app-role-edit>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-role-list></app-role-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-content>
        <app-role-manage></app-role-manage>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-role-mapping-list></app-role-mapping-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
