<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-content>
        <app-user-edit></app-user-edit>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-user-list></app-user-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-content>
        <app-user-manage></app-user-manage>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-user-mapping-list></app-user-mapping-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
